html {
  margin: 0 auto;
  max-width: 2300px;
}

body {
  font-family: "Arial";
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-bottom: 10px;
}

.home {
  font-size: 18px;
  color: #4A90E2;
  font-weight: 300px;
  text-decoration: none;
}

.home:visited {
  color: #4A90E2;
  text-decoration: none;
}

.home:hover {
  color: #5AA3E8;
  text-decoration: none;
}

.home {
  display: flex;
  align-items: center;
  align-content: center;
}

.icon {
  padding-right: 15px;
}

.header-signup {
  padding: 10px 30px;
  background: #4A90E2;
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
}

.header-signup:hover {
  background: #5AA3E8;
  color: #fff;
  text-decoration: none;
}

.main {
  height: 92vh;
  color: #fff;
  background: 
    linear-gradient(
      rgba(74,144,226,.80), 
      rgba(74,144,226,.80)
    ),
    url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;  
  align-self: center;
}

.main-title {
  padding-top: 30vh;
  margin-bottom: 10px;
  font-size:60px;
  font-weight: 100;
  letter-spacing: 4px;
}

.main-desc {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.main-signup {
  padding: 10px 40px;
  margin-top: 20px;
  color: #4A90E2;
  background: #fff;
  border-radius: 2px;
  text-decoration: none;
}

.main-signup:hover {
  color: #5AA3E8;
}