html {
  margin: 0 auto;
  max-width: 2300px;
}

body {
  font-family: "Arial";
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-bottom: 10px;
}

.home {
  font-size: 18px;
  color: #4A90E2;
  font-weight: 300px;
  text-decoration: none;
}

.home:visited {
  color: #4A90E2;
  text-decoration: none;
}

.home:hover {
  color: #5AA3E8;
  text-decoration: none;
}

.home {
  display: flex;
  align-items: center;
  align-content: center;
}

.icon {
  padding-right: 15px;
}

.header-signup,
.signup-submit {
  padding: 10px 30px;
  background: #4A90E2;
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
}

.header-signup:hover {
  background: #5AA3E8;
  color: #fff;
  text-decoration: none;
}

.signup,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;  
  align-self: center;
}

.main {
  height: 92vh;
  color: #fff;
  background: 
    linear-gradient(
      rgba(74,144,226,.80), 
      rgba(74,144,226,.80)
    ),
    url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  padding-top: 30vh;
  margin-bottom: 10px;
  font-size:60px;
  font-weight: 100;
  letter-spacing: 4px;
}

.main-desc {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.main-signup,
.signup-cancel {
  padding: 10px 40px;
  color: #4A90E2;
  background: #fff;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid #4A90E2;
}

.main-signup {
  margin-top: 20px;
}

.main-signup:hover {
  color: #5AA3E8;
}

.signup {
  border-top: 1px solid #aaa;
}

.signup-title {
  margin-top: 80px;
  color: #555;
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 500;
}

.label {
  font-size: 12px;
  color: #555;
  margin-bottom: 5px;
  font-weight: 100;
  letter-spacing: 1px;
}

.input {
  display: block;
  width: 500px;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #aaa;
  font-weight: 100;
  margin-bottom: 20px;
}

.signup-controls {
  display: block;
  text-align: center;
}

.signup-submit {
  border: none;
  padding: 10px 40px;
  margin: 20px 5px;
  font-size: 14px;
  border: 1px solid #4A90E2;
}
